- var PROJECTS_DISPLAY = 4;
- var SKILLS_LIST = {"Technical Skills": skills, "Management": productManagement, "Frameworks & APIs": frameworks, "Misc.": miscellaneous};

mixin project(project)
  article.project(itemscope, itemtype="http://schema.org/Product")
    .max-width
      .project-image-container(class=project.imageMode)
        img.project-image(src=project.images[0].src, alt=project.images[0].alt, srcset=project.images[0].srcset, itemprop="image" )

      .project-content
        div
          h3.project-name(itemprop="name")=project.name
          .project-title
            .project-client(itemprop="brand" itemscope itemtype="http://schema.org/Brand")
              span Client:
              span(itemprop="name")=project.client
            .project-role
              span Role:
              span=project.role
          p.project-description(itemprop="description") !{project.description}

        .project-built-with
          span Built with:
          ul.project-tech
            each tech in project.tech
              li.project-tech-entry=tech

mixin icon-location
  svg.icon(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewbox='0 0 299.997 299.997' width="32px", height="32px", aria-hidden="true")
    title location-icon
    circle(cx='150.437', cy='110.572', r='24.149')
    path(d='M149.996,0C67.157,0,0.001,67.158,0.001,149.997c0,82.837,67.156,150,149.995,150s150-67.163,150-150\
    C299.996,67.158,232.835,0,149.996,0z M149.685,68.678c0.106,0,0.21-0.005,0.314-0.01c0.104,0.005,0.207,0.01,0.314,0.01\
    c25.274,0.399,45.834,21.288,45.834,46.568c0,30.908-33.024,62.205-46.148,73.419c-0.877-0.75-1.849-1.595-2.889-2.521\
    c-0.018-0.016-0.034-0.029-0.049-0.044c-14.524-12.906-43.209-42.045-43.209-70.854\
    C103.851,89.966,124.413,69.078,149.685,68.678z M150.65,232.25c-27.663,0-55.669-7.936-55.669-23.098\
    c0-10.641,13.79-17.717,31.569-20.995c3.439,3.457,6.694,6.505,9.55,9.049c-19.366,2.163-30.744,8.294-30.744,11.943\
    c0,4.484,17.195,12.724,45.294,12.724c28.099,0,45.297-8.24,45.297-12.724c0-3.724-11.858-10.009-31.927-12.052\
    c2.881-2.573,6.162-5.649,9.627-9.142c18.313,3.188,32.674,10.335,32.674,21.197C206.321,224.314,178.315,232.25,150.65,232.25z')

mixin icon-smartphone
  svg.icon(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewbox='0 0 300 300', width="32px", height="32px", aria-hidden="true")
    title smartphone-icon
    circle(cx='150.001', cy='226.085', r='11.718')
    path(d='M182.691,68.248h-65.382c-3.665,0-6.647,2.843-6.647,6.331v123.592c0,3.491,2.98,6.331,6.647,6.331h65.382\
    c3.665,0,6.647-2.843,6.647-6.331V74.579C189.336,71.088,186.356,68.248,182.691,68.248z')
    path(d='M149.996,0C67.157,0,0.001,67.161,0.001,149.997S67.157,300,149.996,300s150.003-67.163,150.003-150.003\
    S232.835,0,149.996,0z M208.354,224.021c0,11.458-9.29,20.749-20.749,20.749h-75.214c-11.458,0-20.749-9.29-20.749-20.749V75.323\
    c0-11.458,9.29-20.749,20.749-20.749h75.214c11.458,0,20.749,9.29,20.749,20.749V224.021z')

mixin icon-email
  svg.icon(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewbox='0 0 299.997 299.997', width="32px", height="32px", aria-hidden="true")
    title email-icon
    path(d='M149.996,0C67.157,0,0.001,67.158,0.001,149.997c0,82.837,67.156,150,149.995,150s150-67.163,150-150\
        C299.996,67.158,232.835,0,149.996,0z M149.999,52.686l88.763,55.35H61.236L149.999,52.686z M239.868,196.423h-0.009\
        c0,8.878-7.195,16.072-16.072,16.072H76.211c-8.878,0-16.072-7.195-16.072-16.072v-84.865c0-0.939,0.096-1.852,0.252-2.749\
        l84.808,52.883c0.104,0.065,0.215,0.109,0.322,0.169c0.112,0.062,0.226,0.122,0.34,0.179c0.599,0.309,1.216,0.558,1.847,0.721\
        c0.065,0.018,0.13,0.026,0.195,0.041c0.692,0.163,1.393,0.265,2.093,0.265h0.005c0.005,0,0.01,0,0.01,0\
        c0.7,0,1.401-0.099,2.093-0.265c0.065-0.016,0.13-0.023,0.195-0.041c0.63-0.163,1.245-0.412,1.847-0.721\
        c0.114-0.057,0.228-0.117,0.34-0.179c0.106-0.06,0.218-0.104,0.322-0.169l84.808-52.883c0.156,0.897,0.252,1.808,0.252,2.749\
        V196.423z')

mixin icon-linkedin
  svg.icon(width='32px', height='32px', viewbox='0 0 300 300', xmlns='http://www.w3.org/2000/svg', aria-hidden="true")
    title linkedin-icon
    g(fill='none', fill-rule='evenodd')
      g.icon
        path(d='M277.792814,0 L22.1430112,0 C9.92675211,0 0,9.68301024 0,21.6159454 L0,278.344879 C0,290.290314 9.92675211,299.98999 22.1430112,299.98999 L277.792814,299.98999 C290.029906,299.98999 299.998323,290.292397 299.998323,278.344879 L299.998323,21.6159454 C299.998323,9.68301024 290.029906,0 277.792814,0 Z M44.4797658,112.464997 L88.9761978,112.464997 L88.9761978,255.631054 L44.4797658,255.631054 L44.4797658,112.464997 Z M66.7373565,41.3007053 C80.9618819,41.3007053 92.5219128,52.8607362 92.5219128,67.0915114 C92.5219128,81.3347861 80.9618819,92.894817 66.7373565,92.894817 C52.4753324,92.894817 40.9319676,81.3347861 40.9319676,67.0915114 C40.9340508,52.8628195 52.4774157,41.3007053 66.7373565,41.3007053 Z M116.885683,112.464997 L159.561343,112.464997 L159.561343,132.026845 L160.157156,132.026845 C166.098624,120.77097 180.61064,108.9047 202.257835,108.9047 C247.314665,108.9047 255.633137,138.557877 255.633137,177.102424 L255.633137,255.62897 L211.167954,255.62897 L211.167954,186.006294 C211.167954,169.404764 210.863797,148.049227 188.045809,148.049227 C164.894498,148.049227 161.34045,166.13404 161.34045,184.806334 L161.34045,255.62897 L116.8836,255.62897 L116.8836,112.464997 L116.885683,112.464997 Z')